# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Build and Test

on:
  push:
    branches: [ "main" ]

jobs:

  Main:

    runs-on: macos-15

    steps:
    - name: Brew Update
      run: brew update

    - name: Install PostgreSQL
      run: brew install postgresql@14

    - name: Start PostgreSQL
      run: brew services start postgresql

    - name: Init DB
      run: initdb /opt/homebrew/var/postgresql

    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v

    - name: Run tests
      run: DATABASE_USERNAME="runner" swift test -v
